{% extends "web/base.html" %}
{% block content %}
    <h1>Project Details</h1>
    <p>
        <strong>Name:</strong> {{ project.name }}
    </p>
    <p>
        <strong>User:</strong> {{ project.user.username }}
    </p>
    <p>
        <strong>Created At:</strong> {{ project.created_at }}
    </p>
    <p>
        <strong>Git URL:</strong> <a href="{{ project.git_url }}">{{ project.git_url }}</a>
    </p>
    <p>
        <strong>Git Branch:</strong> {{ project.git_branch }}
    </p>
    <p>
        <strong>Template:</strong> {{ project.template }}
    </p>
    <p>
        <strong>Port:</strong> {{ project.port }}
    </p>
    <form method="post" action="{% url 'delete_project' project.id %}">
        {% csrf_token %}
        <button type="submit"
                class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">Delete Project</button>
    </form>
    <div class="max-h-52 overflow-y-scroll">
        {% for entry in logs|slice:":10" %}
            <p>
                <span class="text-gray-500">{{ entry.timestamp }}</span> {{ entry.message }}
            </p>
        {% endfor %}
    </div>
{% endblock content %}
